

/** ********** Fonts ********** **/
* {
    font-family: FuraMono Nerd Font;
    font-size: 14px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background: rgba(27, 34, 41, 0.6);
	color:#f5e9e9;
	border-color: #072112;
    
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
	background-color: rgba(34, 87, 160, 0.25);
}

/** ********** Battery ********** **/
#battery {
	background-color: rgba(34, 87, 160, 0.25);
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: rgba(34, 87, 160, 0.25);
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-color: rgba(34, 87, 160, 0.25);
}

/** ********** CPU ********** **/
#cpu {
	background-color: rgba(34, 87, 160, 0.25);
}

/** ********** Memory ********** **/
#memory {
	background-color: rgba(34, 87, 160, 0.25);
}

/** ********** Disk ********** **/
#disk {
	background-color:  rgba(34, 87, 160, 0.25);
}

/** ********** Tray ********** **/
#tray {
	background-color: rgba(34, 87, 160, 0.25);
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	background-color: #db3737;
}

#mpd.disconnected {
	background-color: #db3737;
}

#mpd.stopped {
	background-color: #db3737;
}

#mpd.playing {
	background-color: #db3737;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: rgba(34, 87, 160, 0.25);
}

#custom-kernel {
	background-color: rgba(34, 87, 160, 0.25);
}

#pulseaudio.bluetooth {
	background-color: rgba(34, 87, 160, 0.25);
}
#pulseaudio.muted {
	background-color: #37db7e;
	color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
	background-color: rgba(34, 87, 160, 0.25);
}

#network.disconnected,#network.disabled {
	background-color: rgba(34, 87, 160, 0.25);
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: rgba(34, 87, 160, 0.25);
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	background-color: rgba(34, 87, 160, 0.25);
	margin-right: 6px;
	padding: 2px 10px;
	font-size: 16px;
}
#custom-weather {
	background-color: rgba(34, 87, 160, 0.25);
}
#temperature {
	background-color: rgba(34, 87, 160, 0.25);
}

#bluetooth {
	background-color: rgba(34, 87, 160, 0.25);
}

#idle_inhibitor {
	background-color: rgba(34, 87, 160, 0.25);
}

#workspaces {
	background-color: rgba(34, 87, 160, 0.25);
}

#hyprland-window {
	background-color: rgba(34, 87, 160, 0.25);
}

/** Common style **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#custom-kernel,
#temperature,
#custom-weather,
#bluetooth,
#idle_inhibitor,
#workspaces,
#hyprland-window,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}
