$rosewater:   #f5e0dc;
$flamingo:    #f2cdcd;
$pink:        #f5c2e7;
$mauve:       #bb9af7;
$red:         #f38ba8;
$maroon:      #eba0ac;
$peach:       #fab387;
$yellow:      #e0af68;
$green:       #9ece6a;
$teal1:        #94e2d5;
$teal:         #7dcfff;
$sky:         #89dceb;
$sapphire:    #74c7ec;
$blue:        #7aa2f7;
$lavender:    #b4befe;

$text:        #c0caf5;
$subtext1:    #bac2de;
$subtext0:    #a6adc8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;

$surface2:    #585b70;
$surface1:    #45475a;
$surface0:    #313244;

$base:        #1e1e2e;
$mantle:      #1a1b26;
$crust:       #11111b;

$fg: $text;
$bg: rgba(26, 27, 38, 0.9);
$bg1: $surface0;
$bg2: rgba(26, 27, 38, 0.6);
$border: #28283d;
$shadow: $crust;
